#closest-training{
    padding: 0 15px 40px;
    @media screen and (min-width: 640px){
        padding: 0 40px 52px;
    }
    @media screen and (min-width: 992px){
        padding: 0 40px 80px;
    }
    @media screen and (min-width: 1100px){
        padding: 0 40px 100px;
    }
    h2{
        font-size: 25px;
        padding-bottom: 20px;
        font-weight: 400;
        @media screen and (min-width: 640px){
            font-size: 30px;
            padding-bottom: 30px;
        }
        @media screen and (min-width: 992px){
            font-size: 35px;
            padding-bottom: 40px;
        }
        @media screen and (min-width: 1100px){
            font-size: 40px;
            padding-bottom: 50px;
        }
    }
    .closest-item-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin: 0 0 ;
        justify-content: space-evenly;
        @media screen and (min-width: 640px){
            margin: 0 -7px;
        }
        @media screen and (min-width: 992px){
            width: 100%;
            margin: 0;
            justify-content: space-between;
        }
        .closest-item{
            text-align: center;
            padding: 28px 30px;
            flex: 0 0 49%;
            margin: 2px;
            background: rgb(0,76,155);
            background: linear-gradient(90deg, rgba(0,76,155,1) 40%, rgba(1,120,190,1) 100%);
            @media screen and (min-width: 640px){
                flex: 0 0 47%;
                margin: 7px;
            }
            @media screen and (min-width: 768px){
                margin-bottom: 12px;
            }
            @media screen and (min-width: 992px){
                flex: 0 0 23.7%;
                margin: 0;
                margin-right: 15px;
                &:last-child(){
                    margin-right: 0;
                }
            }
            
            b{
                font-size: 14px;
                color: #fff;
                display: block;
                margin-bottom: 15px;
                @media screen and (min-width: 1100px){
                    margin-bottom: 25px;
                }
            }
            p{
                font-size: 12px;
                color: #fff;

                @media screen and (min-width: 1100px){
                    text-align: left;
                    margin-bottom: 50px;
                    br{
                        display: none;
                    }
                }
            }
            a{
                font-size: 12px;
            }
            .btn{
                background: #EDAB00;
                color: #fff;
                font-size: 10px;
                transition: .3s ease-in-out;
                &:hover{
                    color: #003479;
                    transition: .3s ease-in-out;
                    background: #fff;
                }
                @media screen and (min-width: 992px){
                    font-size: 12px;
                }
            }
            .err{
                border: 0;
                color: #FFD657;
                background: transparent;
                padding: 0;
                text-transform: none;
                transition: .3s ease-in-out;
                &:hover{
                    color: #fff;
                    transition: .3s ease-in-out;
                    border: unset;
                    background: unset;;
                }
            } 

        }
    }
}