#lection{
    background-size: cover !important;
    background-position: center !important;
    padding: 20px 15px;
    @media screen and (min-width: 640px){
        padding: 30px 40px;
    }
    @media screen and (min-width: 992px){
        padding: 40px 40px;
    }
    @media screen and (min-width: 1100px){
        padding: 50px 40px;
    }
    h3{
        font-size: 22px;
        font-weight: 400;
        color: #EDAB00;
        padding-bottom: 10px;
        @media screen and (min-width: 640px){
            font-size: 25px;
            padding-bottom: 15px;
        }
        @media screen and (min-width: 992px){
            font-size: 28px;
            padding-bottom: 20px;
        }
        @media screen and (min-width: 1100px){
            font-size: 31px;
            padding-bottom: 25px;
        }
    }
    p{
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        @media screen and (min-width: 640px){
            font-size: 14px;
        }
        @media screen and (min-width: 768px){
            width: 45%;
            margin-right: 25px;
            display: inline-flex;
        }
        @media screen and (min-width: 1100px){
            width: 40%;
            margin-right: 140px;
        }
    }
    .lection-text-wrapp{
        @media screen and (min-width: 768px){
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 50%;
        }
        @media screen and (min-width: 768px){
            width: 45%;
        }
        .lection-text-part{
            margin-bottom: 30px;
            @media screen and (min-width: 640px){
                margin-bottom: 35px;
            }
            @media screen and (min-width: 768px){
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}