#main-form{
    padding: 40px 15px;
    background: #003479;
    @media screen and (min-width: 640px){

        padding: 60px 40px;
    }
    @media screen and (min-width: 992px){

        padding: 80px 40px ;
    }
    @media screen and (min-width: 1100px){

        padding: 100px 40px ;
    }
    h2{
        font-size: 25px;
        padding-bottom: 0;
        font-weight: 400;
        color: #fff;
        @media screen and (min-width: 640px){
            font-size: 30px;
        }
        @media screen and (min-width: 992px){
            font-size: 35px;
        }
        @media screen and (min-width: 1100px){
            font-size: 40px;
        }
    }
    p{
        color: #fff;
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
        @media screen and (min-width: 640px){
            margin-bottom: 15px;
        }
        @media screen and (min-width: 992px){
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1100px){
            margin-bottom: 25px;
        }
    }
    .form-item {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
      }
      
      /* Hide the browser's default checkbox */
      .form-item input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #eee;
      }
      
      /* On mouse-over, add a grey background color */
      .fotm-item:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      /* When the checkbox is checked, add a blue background */
      .form-item input:checked ~ .checkmark {
        background-color: #EDAB00;
      }
      .form-item b{
          flex: 0 0 100%;
      }
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .form-item input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .form-item .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    // .form-item {
    //     flex: 0 0 50%;
    //     display: flex;
    //     margin-bottom: 15px;
    //     input[type="checkbox"]{
    //         appearance: chekbox;
    //         display: inline-block;
    //         width: 15px;
    //         height: 15px;
    //         margin-top: 0px;
    //         margin-right: 10px;
    //         flex: 0 0 auto;
    //         /* background-color only for content */
    //         background-clip: content-box;
    //         border: 0;
    //         background-color: #fff;
    //         vertical-align: top;
    //         outline: none;
    //         &:checked{
    //             background-color: #EDAB00;
    //         }
    //     }
    //     label{
    //         color: #fff;
    //         font-size: 12px;
    //         margin: 0;
    //         font-weight: 400;
    //         b{
    //             display: block;
    //             font-weight:700;
    //         }
    //     }
    // }
    .form-components{
        width: 100%;
        .yellow-text{
            color: #EDAB00;
            margin-bottom: 20px;
            @media screen and (min-width: 640px){
                margin-bottom: 30px;
             }
             @media screen and (min-width: 992px){
                 margin-bottom: 40px;
             }
             @media screen and (min-width: 1100px){
                 margin-bottom: 50px;
             }
            @media screen and (min-width: 640px){
                margin-bottom: 30px;
             }
             @media screen and (min-width: 992px){
                 margin-bottom: 40px;
             }
             @media screen and (min-width: 1100px){
                 margin-bottom: 50px;
             }
        }
        .term  {
            padding-bottom: 10px;
            @media screen and (min-width: 640px){
               padding-bottom: 15px;
            }
            @media screen and (min-width: 992px){
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1100px){
                padding-bottom: 25px;
            }
            b{
                color: #fff;
                font-size: 14px;
            }
            span{
                color: #fff;
                font-size: 14px;
            }
        }
        .choose-term{
            padding-bottom: 20px;
            @media screen and (min-width: 640px){
                padding-bottom: 30px;
             }
             @media screen and (min-width: 992px){
                 padding-bottom: 40px;
             }
             @media screen and (min-width: 1100px){
                 padding-bottom: 50px;
             }
            p{
                display: inline;
                font-weight: 400;
                margin-right: 10px;
                
            }
            select{
                padding: 10px;
                font-size: 16px;
            }
        }
        .price{
            margin-bottom: 20px;
            @media screen and (min-width: 640px){
                margin-bottom: 30px;
             }
             @media screen and (min-width: 992px){
                 margin-bottom: 40px;
             }
             @media screen and (min-width: 1100px){
                 margin-bottom: 50px;
             }
        

            .price-form{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                @media screen and (min-width: 768px){
                    width: 59%;
                }
                @media screen and (min-width: 1100px){
                    max-width: 800px;
                    width: 43%;
                }
                input[type="radio"]{
                    appearance: none;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    /* background-color only for content */
                    background-clip: content-box;
                    border: 0;
                    background-color: #fff;
                    border-radius: 50%;
                    vertical-align: middle;
                    outline: none;
                    &:checked{
                        background-color: #EDAB00;
                    }
                }
                label{
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                    margin: 0;
                    vertical-align: middle;
                    &:last-of-type(){
                        margin-right: 0;
                    }
                }
                .firm-option, .person-option{
                    flex: 0 0 50%;
                }
            }
        }
        .user-date{
            .yellow-text{
                margin-bottom: 10px;
                @media screen and (min-width: 640px){
                    margin-bottom: 15px;
                 }
                 @media screen and (min-width: 992px){
                     margin-bottom: 20px;
                 }
                 @media screen and (min-width: 1100px){
                     margin-bottom: 25px;
                 }
            }
            .user-form{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: flex-end;
                @media screen and (min-width: 768px){
                    justify-content: space-between;
                }
                @media screen and (min-width: 1100px){
                    max-width: 800px;
                }
                .form-item {
                    flex: 0 0 50%;
                    display: flex;
                    margin-bottom: 15px;
                    flex-wrap: wrap;
                    @media screen and (min-width: 768px){
                        flex: 0 0 33%;
                    }
                    @media screen and (min-width: 1100px){
                        padding-right: 0;
                    }
                    &:first-child(){
                        b{
                            flex: 0 0 100%;
                            margin-top: -25px;
                            @media screen and (min-width: 525px){
                                margin-top: -20px;
                            }
                            @media screen and (min-width: 640){
                                margin-top: -15px;
                            }
                            @media screen and (min-width: 768px){
                                margin-top: -30px;
                            }
                            @media screen and (min-width: 829px){
                                margin-top: -15px;
                            }
                        }
                        @media screen and (min-width: 768px){
                            flex: 0 0 25%;
                        }
                        
                    }
                    input[type="checkbox"]{
                        appearance: button;
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-top: 1px;
                        margin-right: 10px;
                        flex: 0 0 auto;
                         
                        background-clip: content-box;
                        border: 0;
                        background-color: #fff;
                        vertical-align: top;
                        outline: none;
                        &:checked{
                            background-color: #EDAB00;
                        }
                    }
                    label{
                        color: #fff;
                        font-size: 12px;
                        margin: 0;
                        font-weight: 400;
                        b{
                            display: block;
                            font-weight:700;
                        }
                    }
                }
                .user-table{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 20px;
                    margin-top: 5px;
                    @media screen and (min-width:640px){
                        margin-top: 15px;
                        margin-bottom: 30px;
                    }
                    @media screen and (min-width:768px){
                        justify-content: space-between;
                    }
                    @media screen and (min-width:992px){
                        margin-top: 25px;
                        margin-bottom: 40px;
                    }
                    @media screen and (min-width:1100px){
                        margin-top: 35px;
                        margin-bottom: 50px;
                    }
                    input{
                        flex: 0 0 70%;
                        font-size: 16px;
                        background: transparent;
                        opacity: .7;
                        border: 0;
                        border-bottom: 1.2px solid rgba(255,255,255, .2);
                        color: #DFDFDF;
                        outline: none;
                        padding: 10px 0 5px 0;
                        @media screen and (min-width:768px){
                            flex: 0 0 45%;
                            padding: 15px 0 5px;
                        }
                        @media screen and (min-width:992px){
                            padding: 25px 0 5px;
                        }
                    }
                    input::placeholder{
                        color: #DFDFDF;
                    }
                }
                .add-user{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    @media screen and (min-width:640px){
                        margin-bottom: 30px;
                    }
                    @media screen and (min-width:768px){
                        width: 70%;
                        max-width: 450px;
                    }
                    @media screen and (min-width:992px){
                        margin-bottom: 40px;
                    }
                    @media screen and (min-width:1100px){
                        margin-bottom: 50px;
                    }
                    span{
                        color: #fff;
                        font-size: 12px;
                        font-weight: 400;
                        flex: 0 0 50%;
                    }
                    .btn{
                        font-size: 10px;
                        flex: 0 0 42%;
                        max-width: 189px;
                        padding: 7px 40px;
                        line-height: 2;
                        background: #EDAB00;
                        color: #fff;
                        margin: 0;
                        text-align: center;
                        &:hover{
                            background: #fff;
                            color: #EDAB00;
                        }
                    }
                }
                .firm-data{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 20px;
                    @media screen and (min-width:768px){
                        justify-content: space-between;
                    }
                    .yellow-text{
                        margin-bottom: 10px;
                        width: 100%;
                    }
                    
                    input[type=text]{
                        flex: 0 0 70%;
                        font-size: 16px;
                        background: transparent;
                        opacity: .8;
                        border: 0;
                        border-bottom: 1.2px solid rgba(255,255,255, .2);
                        color: #DFDFDF;
                        outline: none;
                        padding: 10px 0 5px 0;
                        @media screen and (min-width:768px){
                            flex: 0 0 45%;
                            padding: 15px 0 5px 0;
                        }
                        @media screen and (min-width:992px){
                            padding: 25px 0 5px 0;
                        }
                    }
                    .form-item{
                        margin-top: 10px;
                        @media screen and (min-width:640px){
                            flex: 0 0 100%;
                            margin-top: 15px;
                        }
                        @media screen and (min-width:768px){
                            flex: 0 0 100%;
                        }
                        @media screen and (min-width:992px){
                            margin-top: 20px;
                        }
                        @media screen and (min-width:1100px){
                            margin-top: 25px;
                        }
                    }
                    input::placeholder{
                        color: #DFDFDF;
                    }

                }
            }

        }
        .bank-number{
            background: #EDAB00;
            text-align: center;
            padding: 10px 32px; 
            margin-top: 20px;
            @media screen and (min-width:640px){
                padding: 15px 75px; 
                margin-top: 40px;
            }
            @media screen and (min-width:992px){
                padding: 20px 130px; 
                margin-top: 60px;
            }
            @media screen and (min-width:1100px){
                padding: 25px 140px; 
                margin-top: 80px;
            }
            b {
                display: block;
                font-size: 22px;
                color: #fff;
                font-weight: 600;
                padding-bottom: 10px;
                @media screen and (min-width:640px){
                    padding: 0 0px 15px; 
                    font-size: 25px;
                }
                @media screen and (min-width:992px){
                    padding: 0 0px 20px; 
                    font-size: 28px;
                }
                @media screen and (min-width:1100px){
                    padding: 0 0 25px;
                    font-size: 31px;
                }
            }
            span{
                font-size: 22px;
                color: #005CA8;
                font-weight: 600;
                padding-bottom: 10px;
                display: block;
                @media screen and (min-width:640px){
                    padding: 0px 0px 15; 
                    font-size: 25px;
                }
                @media screen and (min-width:992px){
                    padding: 0px 0px 20px; 
                    font-size: 28px;
                }
                @media screen and (min-width:1100px){
                    padding: 0px 0 25px;
                    font-size: 31px;
                }
            }
            p{
                font-size: 12px;
                font-weight: 400;
                margin: 0;
            }
        }
        .law-text{
            padding-top: 10px;
            @media screen and (min-width:640px){
                padding-top: 15px;
            }
            @media screen and (min-width:992px){
                padding-top: 20px;
            }
            @media screen and (min-width:1100px){
                padding-top: 25px;
            }
            p{
                font-size: 10px;
                font-weight: 400;
                margin-bottom: 10px;
                color: #fff;
                opacity: .7;

                @media screen and (min-width:640px){
                    margin-bottom: 15px;
                }
                @media screen and (min-width:992px){
                    margin-bottom: 20px;
                }
                @media screen and (min-width:1100px){
                    margin-bottom: 25px;
                }
            }
            a{
                color: #EDAB00;
                font-size: 10px;
                font-weight: 400;
                text-decoration: none;
                transition: .3s ease-in-out;
                display: block;
                margin-bottom: 10px;
                @media screen and (min-width:640px){
                    margin-bottom: 15px;
                }
                @media screen and (min-width:992px){
                    margin-bottom: 20px;
                }
                @media screen and (min-width:1100px){
                    margin-bottom: 25px;
                }
                &.active{
                    span{
                        transform: rotateX(180deg);
                        transition: .3s ease-in-out;
                    }
                }
                span{
                    vertical-align: middle;
                    font-size: 18px;
                    padding-right: 5px;
                    margin-top: -2px;
                    transition: .3s ease-in-out;
                }
                &:hover{
                    color: #fff;
                    transition: .3s ease-in-out;
                }
            }
            .law-expended-text{
                max-height: 1px;
                overflow: hidden;
                margin: 0;
                transition: .3s ease-in-out;
                &.active{
                   max-height: 500px;
                   transition: .3s ease-in-out;
                   margin-bottom: 10px;

                   @media screen and (min-width:640px){
                    margin-bottom: 15px;
                }
                @media screen and (min-width:992px){
                    margin-bottom: 20px;
                }
                @media screen and (min-width:1100px){
                    margin-bottom: 25px;
                }
                }
            }
        }
    }
}