#main-slider{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    @media screen and (min-width: 1100px){
        background-position-y: 51px !important;
        
    }
    .section-container{
        position: relative;
        padding: 0 15px 50px;
        @media screen and (min-width: 640px){
            padding: 0 40px 67px;    
        }
        @media screen and (min-width: 992px){
            padding: 0 40px 140px;  
        }
        @media screen and (min-width: 1100px){
            padding: 0 40px 140px;  

        }
        .back-link{
            margin-top: 78px;
            padding: 0;
            color: #FFFFFF;
            opacity: .5;
            transition: .3s ease-in-out;
            @media screen and (min-width: 640px){
                margin-top: 90px;
            }
            @media screen and (min-width: 992px){
                margin-top: 140px;
            }
            @media screen and (min-width: 1100px){
                margin-top: 160px;
            }
            &:hover{
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
        .register{
            position: absolute;
            bottom: 0;
            right: 15px;
            border-radius: 0;
            color: #fff;
            background: #E8AF1A;
            border: 1.2px solid transparent;
            transition: .3s ease-in-out;
            border-bottom: 0;
            font-size: 12px;
            padding: 15px 39px;
            @media screen and (min-width: 640px){
                right: 40px;
            }
            &:hover{
                background: #fff;
                border: 1.2px solid #004c9b;
                transition: .3s ease-in-out;
                border-bottom: 0;
                color: #004c9b;
            }
        }
    }
}