#program{
    padding: 40px 15px 0px;
    background-position: center !important;
    background-size: cover !important;
    @media screen and (min-width: 640px){

        padding: 60px 40px 0px;
    }
    @media screen and (min-width: 992px){

        padding: 80px 40px 80px;
    }
    @media screen and (min-width: 1100px){

        padding: 100px 40px 100px;
    }
    .section-container{
        h3{
            font-size: 22px;
            font-weight: 400;
            color: #000;
            padding-bottom: 10px;
            @media screen and (min-width: 640px){
                font-size: 25px;
                padding-bottom: 15px;
            }
            @media screen and (min-width: 992px){
                font-size: 28px;
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1100px){
                font-size: 31px;
                padding-bottom: 25px;
            }
        }
        .program-col-wrapp{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            .program-col{
                padding-bottom: 20px;
                @media screen and (min-width: 640px){
                    flex: 0 0 40%;
                    padding-bottom: 0;
                }
                &:last-child(){
                    padding-bottom: 0;
                    flex: 0 0 48%;
                }
                b{
                    font-size: 12px;
                    @media screen and (min-width: 640px){
                        font-size: 14px
                    }
                }
                p{
                    font-size: 12px;
                    margin-bottom: 0;
                    padding: 1.5px 0;
                    @media screen and (min-width: 640px){
                        font-size: 14px
                    }
                }

            }
        }
        .certificat-block{
            display: flex;
            flex-wrap: wrap;
            width: auto;
            margin: 40px -15px 0;
            color: #fff;
            @media screen and (min-width: 640px){
                margin: 60px -40px 0;
            }
            @media screen and (min-width: 992px){
                margin: 80px 0px 0;
            }
            @media screen and (min-width: 1100px){
                margin: 100px 0px 0;
            }
            .blue-text{
                background: #005CA8;
                flex: 1 1 auto;
                padding: 20px 15px;
                @media screen and (min-width: 640px){
                    padding: 30px 40px 30px 30px;
                    flex: 0 0 61%;
                }
                @media screen and (min-width: 992px){
                    padding: 40px;
                    flex: 0 0 73%;

                }
                @media screen and (min-width: 992px){
                    padding: 50px 40px;
                }
                h3{
                    font-size: 22px;
                    font-weight: 400;
                    color: #fff;
                    padding-bottom: 10px;
                    @media screen and (min-width: 640px){
                        font-size: 25px;
                        padding-bottom: 15px;
                    }
                    @media screen and (min-width: 992px){
                        font-size: 28px;
                        padding-bottom: 20px;
                    }
                    @media screen and (min-width: 1100px){
                        font-size: 31px;
                        padding-bottom: 25px;
                    }
                }
                p{
                    font-size: 12px;
                    margin: 0;
                    @media screen and (min-width: 992px){
                        font-size: 14px;
                    }
                }
            }
            .sign-block{
                background: #EDAB00;
                flex: 1 1 auto;
                padding: 20px 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                @media screen and (min-width: 640px){
                    padding: 30px 20px;
                    flex: 0 0 39%;
                    flex-direction: column;
                }
                @media screen and (min-width: 992px){
                    flex: 0 0 27%;
                    padding: 40px 20px;
                }
                @media screen and (min-width: 1100px){
                    padding: 50px 20px;
                }
                span{
                    font-size: 14px;
                }
                .btn{
                    margin: 0;
                    background: #004C9B;
                    color: #fff;
                    &:hover{
                        background: #fff;
                        color: #004C9B;
                    }
                }
            }
        }
    }
}