#propose{

    @media screen and (min-width: 640px){

        
    }
    @media screen and (min-width: 992px){

        
    }
    @media screen and (min-width: 1100px){

        
    }
    .section-container{
        padding: 20px 15px;
        position: relative;
        background-size: cover !important;
        background-position:  center !important;
        @media screen and (min-width: 640px){
            padding: 30px 40px;
        }
        @media screen and (min-width: 768px){
            background: #004C9B !important;
            background-image: unset !important;
        }
        
        @media screen and (min-width: 992px){
            padding: 40px 40px;
            
        }
        @media screen and (min-width: 1100px){
            padding: 50px 40px;
            max-width: 1366px;
        }
        h3{
            font-size: 22px;
            font-weight: 400;
            color: #EBB939;
            padding-bottom: 10px;
            @media screen and (min-width: 640px){
                font-size: 25px;
                padding-bottom: 15px;
            }
            @media screen and (min-width: 992px){
                font-size: 28px;
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1100px){
                font-size: 31px;
                padding-bottom: 25px;
            }
        }
        .img-wrapp{
            display: none;
            @media screen and (min-width: 768px){
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 45%;
                max-height: 550px;
                overflow: hidden;
                img{
                    height: 100%;
                }
            }
            @media screen and (min-width: 992px){
                width: 43%;
                
            }
            @media screen and (min-width: 1100px){
                max-width: 689px;
            }
        }
        .propose-list{
            @media screen and (min-width: 768px){
                width: 50%;
                margin-left: auto;
            }
            @media screen and (min-width: 768px){
                width: 47%;
                
            }
            ul{
                li{
                    font-size: 12px;
                    color: #fff;
                    position: relative;
                    padding: 0 10px 15px;
                    
                    &:before{
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: 0;
                        background: #fff;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                    }
                    &:first-child(){
                        padding: 0 10px 15px;
                    }
                    &:last-child(){
                        padding: 0 10px 0;
                    }
                }
            }
        }
    }
}