#training{
    padding: 20px 15px 20px ;
    @media screen and (min-width: 640px){
        padding: 30px 40px 20px;
    }
    @media screen and (min-width: 992px){
        padding: 40px 40px 80px;
    }
    @media screen and (min-width: 1100px){
        padding: 50px 40px 100px;
    }
    .training-f{
        display: flex;
        position: relative;
        .training-text{
            padding-bottom: 20px;
            @media screen and (min-width: 640px){
                padding-bottom: 30px;
            }
            @media screen and (min-width: 768px){
                width: 45%;
                margin-right: 100px;
            }
            @media screen and (min-width: 992px){
                margin-right: 150px;
                padding-bottom: 40px;
            }
            @media screen and (min-width: 1100px){
                padding-bottom: 50px;
                width: 53%;
            }
            h3{
                font-size: 22px;
                padding-bottom: 10px;
                font-weight: 400;
                @media screen and (min-width: 640px){
                    font-size: 25px;
                    padding-bottom: 15px;
                }
                @media screen and (min-width: 992px){
                    font-size: 28px;
                    padding-bottom: 20px;
                }
                @media screen and (min-width: 1100px){
                    font-size: 31px;
                    padding-bottom: 25px;
                }
            }
            p{
                font-size: 12px;
                margin: 0;
                @media screen and (min-width: 640px){
                    font-size: 14px;
                }
                @media screen and (min-width: 992px){
                    padding-right: 20px;
                }
            }
            ul{
                padding: 15px 0 20px;
                li{
                    margin-left: 40px;
                    padding: 7.5px 0px ;
                    font-size: 12px;
                    position: relative;
                    @media screen and (min-width: 640px){
                        font-size: 14px;
                    }
                    @media screen and (min-width: 992px){
                        padding: 10px 0px;
                    }
                    &:before{
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: #003479;
                        position: absolute;
                        top: 17px;
                        left: -15px;
                    }
                    &:first-child(){
                        padding: 0 0 7.5px;
                        &:before{
                            top: 7px;
                        }
                        @media screen and (min-width: 992px){
                            padding: 0 0 10px ;
                        }
                    }

                    &:last-child(){
                        padding: 7.5px 0 0;
                        @media screen and (min-width: 992px){
                            padding: 10px 0px 0;
                        }
                    }
                }
            }
        }
        img{
            position: absolute;
            right: 0px;
            // z-index: -1;
            top: 90px;
            display: none;
            @media screen and (min-width: 768px){
                display: block;
            }
            @media screen and (min-width: 1100px){
                top: 0;
            }
        }
        .color-text{
            position: relative;
            display: flex;
            width: 100%;
            background: rgb(0,76,155);
            background: linear-gradient(90deg, rgba(0,76,155,1) 50%, rgba(1,120,190,1) 100%);
            padding: 20px 28px 20px 25px;
            margin-bottom: 20px;
            @media screen and (min-width: 640px){
                padding: 30px 40px;
                margin-bottom: 30px;
            }
            @media screen and (min-width: 768px){
                max-width: 350px;
                display: flex;
                flex-wrap: wrap;
                padding: 48px 35px;
                position: absolute;
                top: 190px;
                right: 20px;
                box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.15);
            }
            @media screen and (min-width: 992px){
                right: 90px;
            }
            @media screen and (min-width: 1100px){
                right: 90px;
                top: 130px;
            }
            .color-text-items{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 0 0 32%;
                @media screen and (min-width: 768px){
                   flex: 0 0 100%;
                   margin-bottom: 15px;
                }
                img{
                    position: inherit;
                    z-index: unset;
                    display: block;
                    @media screen and (min-width: 768px){
                        max-width: 200px
                    }
                }
                .btn{
                    margin: 0 auto 0 0;
                    display: inline-block;
                    font-size: 10px;
                    @media screen and (min-width: 768px){
                        display: none;
                    }
                }


            }
            .color-text-breadcrumps{
                flex: 0 0 68%;
                padding-left: 40px;
                @media screen and (min-width: 640px){
                    padding-left: 75px;
                }
                @media screen and (min-width: 768px){
                    flex: 0 0 100%;
                    padding-left: 0;
                }
                span{
                    font-weight: 400;
                    font-size: 22px;
                    color: #FFD657;
                    padding-bottom: 10px;
                    display: block;
                    line-height: 32px;
                    @media screen and (min-width: 640px){
                        font-size: 25px;
                    }
                }
                b{
                    font-size: 14px;
                    margin: 0 0 10px;
                    color: #fff;  
                    display: block;
                    font-weight: 400;
                    @media screen and (min-width: 768px){
                        font-size: 18px;
                        margin-bottom: 24px;
                    }
                }
                p{
                    font-size: 14px;
                    margin: 0;
                    color: #fff;
                    @media screen and (min-width: 1100px){
                        font-size: 14px;
                    }
                    
                }
                .btn{
                    display: none;
                    @media screen and (min-width: 768px){
                        display: block;
                        max-width: 120px;
                        margin: 35px auto 0;
                    }
                }
            }
        }
        .article-with-img{
            position: relative;
            overflow: hidden;
            @media screen and (min-width: 768px){
                margin-top: 10px;
            }
            @media screen and (min-width: 992px){
                margin-top: 0;
            }
            img{
                left: 0;
                top: 0;
                @media screen and (min-width: 992px){
                   height: 100%;
                   width: 43%;
                   max-width: 450px;
                }
            }
            .training-text{
                margin-left: auto;
                margin-right: 0;
                @media screen and (min-width: 992px){
                    width: 48%;
                    padding-right: 40px;
                }
            }

        }
    }
}